html {
	font-size: 10px;
	background: url('https://cache.desktopnexus.com/cropped-wallpapers/1612/1612810-1920x1080-[DesktopNexus.com].jpg?st=wyhcjIKDjF4JOHuDoEOyQQ&e=1602608999')
		bottom center;
	background-size: cover;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.keys {
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5rem black;
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 4rem;
	font-family: 'ZCOOL KuaiLe';
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #ffc600;
}

#Btn {
	left: calc(50% - 4em);
	top: calc(50% - 2em);
	background: -webkit-linear-gradient(top, #555, #333);
	/*direction, colorstop1, colorstop2*/
	background: linear-gradient(top, #555, #333);
	color: white;
	transform-origin: 50% 4em;
	-webkit-animation: wiggle 1.5s linear infinite;
	animation: wiggle 1.5s linear infinite;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
	10% {
		-webkit-transform: rotateZ(-15deg);
		transform: rotateZ(-15deg);
	}
	20% {
		-webkit-transition: rotateZ(10deg);
		transition: rotateZ(10deg);
	}
	25% {
		-webkit-transition: rotateZ(-10deg);
		transition: rotateZ(-10deg);
	}
	30% {
		-webkit-transition: rotateZ(6deg);
		transition: rotateZ(6deg);
	}
	35% {
		-webkit-transform: rotateZ(-4deg);
		transform: rotateZ(-4deg);
	}
	40% {
		transform: rotateZ(7deg);
	}
	50% {
		transform: rotateZ(-6deg);
	}
	60% {
		transform: rotateZ(10deg);
	}
	70% {
		transform: rotateZ(-14deg;);
	}
	80% {
		transform: rotateZ(3deg);
	}
	90% {
		transform: rotateZ(-7deg);
	}
	100% {
		-webkit-transition: rotateZ(0);
		transition: rotateZ(0);
	}
}